<div class="demo-wrapper">
  <div class="demo-title">Select</div>

  <div class="demo-border">
    <label class="demo-subtitle">Numbers</label>
    <dp-select placeholder="Please select" [formControl]="formControl" [options]="options"></dp-select>
    <div class="demo-errors" *ngIf="errors">{{errors}}</div>

    <div style="margin-top: 1rem; margin-bottom: 1rem;">
      <dp-button *ngIf="this.formControl.disabled" (click)="enable()">Enable</dp-button>
      <dp-button *ngIf="!this.formControl.disabled" (click)="disable()">Disable</dp-button>
      <dp-button color="red" (click)="error()">Error</dp-button>
    </div>

    <div class="demo-value">
      Value: {{formControl.value}}
    </div>
  </div>
</div>
