@import '../../assets/styles/base.scss';

.dp-input {
  background: white;
  border: 1px solid $gray-300;
  position: relative;
  border-radius:$rounded-md;
  box-shadow: $shadows-sm;
  overflow: hidden;
  font-size: $text-sm;

  input {
    width:100%;
    background-color: $white;
    height: $input-height;
    appearance: none;
    outline: none;
    &::placeholder{
      color: $gray-500;
    }
  }
}

.dp-input.disabled {
  background-color: $gray-100;
  color:$gray-600;
  outline:none;
  pointer-events: none;

  * {
    background-color: $gray-100;
  }
}

.dp-input.focus {
  border: 1px solid $blue-500;
  box-shadow: $ring-1 $blue-500;
}
.dp-input.error {
  border: 1px solid $red-500;
  box-shadow: $ring-1 $red-500;
}
