@import '../../assets/styles/base.scss';

.dp-input {
  background: white;
  border: 1px solid $color-gray-300;
  position: relative;
  border-radius:$rounded-md;
  box-shadow: $shadows-sm;
  overflow: hidden;
  font-size: $text-sm;

  input {
    @apply bg-white h-10 w-full appearance-none outline-none placeholder-gray-500;
  }
}

.dp-input-focus {
  @apply border-blue-500 ring-1 ring-blue-500;
}

.dp-input-error {
  @apply border-red-500 ring-1 ring-red-500;
}

.dp-input-disabled {
  @apply bg-gray-100 text-gray-600 outline-none;
  pointer-events: none;

  * {
    @apply bg-gray-100;
  }
}

.dp-input.disabled {
  @apply dp-input-disabled;
}

.dp-input.focus {
  @apply dp-input-focus;
}
.dp-input.error {
  @apply dp-input-error;
}
