.sidenav-wrapper {
  position: fixed;
  left: 0;
  top: 6rem;
  height: 100%;
  width: auto;
}

.sidenav-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(59, 130, 246, 1); // Blue 500
  display: flex;
  flex-direction: column;
  overflow:auto;
  margin-bottom: 5rem;
}

.sidenav-content {
  flex: 1;
  padding: 1.5rem;

  .sidenav-list {
    list-style: none;
    padding: 0.5rem;
    margin: 0.1rem 0 0;
  }

  li {
    display: flex;
    color: white;
    font-size: 1.25em;
    white-space: nowrap;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;

    dp-svg {
      flex: 1;
      opacity: 0;
      color: white;
      align-items: center;
      justify-content: flex-end;
      padding-left: 2rem;
    }

    &:hover {
      color: rgba(209, 213, 219, 1); // Gray 300
      transition: all .15s ease-in-out;
      transform: scale(1.05);

      dp-svg {
        opacity: 1;
      }
    }
  }
}

.sidenav-headers {
  font-size: 1.5em;
  color: rgba(147, 197, 253, 1); // Blue 300
}
