<div class="component-intro">
  <h1>Radio Button</h1>
  <p>
    An extension of the standard radio input type with custom styling and <code>ControlValueAccessor</code> support.
  </p>
</div>

<div class="demo-wrapper">
  <dp-radio-group [formControl]="formControl">
    <dp-radio-button label="One" value="ONE"></dp-radio-button>
    <dp-radio-button label="Two" value="TWO"></dp-radio-button>
    <dp-radio-button label="Three" value="THREE"></dp-radio-button>
  </dp-radio-group>
  <div class="demo-errors" *ngIf="errors">{{ errors }}</div>

  <div class="demo-btn-group">
    <dp-button color="primary" *ngIf="this.formControl.disabled" (click)="enable()">Enable</dp-button>
    <dp-button color="primary" *ngIf="!this.formControl.disabled" (click)="disable()">Disable</dp-button>
    <dp-button color="secondary" (click)="error()">Error</dp-button>
  </div>

  <div class="demo-value">Value: {{ formControl.value }}</div>
</div>

<div class="component-info">
  <dp-tab-group>
    <dp-tab label="Documentation">
      <h3>Getting Started</h3>
      <p>The radio button component does not function on its own and must be grouped together with the
        <code>RadioGroupComponent</code> so that only one button can be selected at a time.</p>
      <app-codeblock>{{ codeGroup }}</app-codeblock>
      <h4>Import</h4>
      <app-codeblock>Currently everything is imported by DevproComponentsModule.</app-codeblock>

      <h3>Label</h3>
      <p>Labels can be added to the radio button as an attribute. Clicking on the label will also toggle the buttons
        checked state.</p>
      <app-codeblock>{{ codeLabel }}</app-codeblock>

      <h3>Value and Forms</h3>
      <p>Value can be assigned to each button as an attribute. Adding a <code>FormControlDirective</code> to the
      <code>RadioGroupComponent</code> will allow you to utilize the information each button is intended to provide.</p>
      <app-codeblock>{{ codeValue }}</app-codeblock>

      <h3>Properties</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Default Value</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>label</td>
          <td>string</td>
          <td>null</td>
          <td>Label for the radio button.</td>
        </tr>
        <tr>
          <td>value</td>
          <td>any</td>
          <td>null</td>
          <td>Value of the radio button.</td>
        </tr>
        <tr>
          <td>disabled</td>
          <td>boolean</td>
          <td>false</td>
          <td>Disabled attribute of the radio button, when true it will visibly change the radio button and make it
            un-clickable.</td>
        </tr>
      </table>

      <h3>Events</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Parameters</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>OnChecked</td>
          <td>isChecked: Boolean value set by event emitters dictating the state of the radio button.</td>
          <td>Notifies changes to the <code>RadioService</code> on the checked status.</td>
        </tr>
      </table>

      <h3>Styling</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Element</th>
        </tr>
        <tr>
          <td>radio-button-wrapper</td>
          <td>Outermost element containing the custom button and its label.</td>
        </tr>
        <tr>
          <td>radio-button</td>
          <td>Overlays the hidden input and acts as the visual button.</td>
        </tr>
        <tr>
          <td>radio-button-label</td>
          <td>Label element for the radio button.</td>
        </tr>
      </table>

      <h3>Methods</h3>
      <p>None.</p>

      <h3>Dependencies</h3>
      <p>None.</p>
    </dp-tab>

    <dp-tab label="Source Code">
      <app-codeblock fileName="demo-radio-button.component.html">{{ codeHTML }}</app-codeblock>
      <app-codeblock fileName="demo-radio-button.component.ts">{{ codeTS }}</app-codeblock>
    </dp-tab>
  </dp-tab-group>
</div>
