<div class="demo-wrapper">
  <div class="demo-title">Slide Toggles</div>
  <div class="demo-border">
    <div style="display: flex">
      <div style="flex: 1 1 0%">
        <div class="demo-subtitle">Slide Toggle Group</div>
        <dp-slide-group [formControl]="formControlGroup">
          <dp-slide-toggle label="One" value="ONE"></dp-slide-toggle>
          <dp-slide-toggle label="Two" value="TWO"></dp-slide-toggle>
          <dp-slide-toggle label="Three" value="THREE"></dp-slide-toggle>
        </dp-slide-group>
        <div class="demo-errors" *ngIf="errorsGroup">{{ errorsGroup }}</div>

        <div class="demo-value">
          Value: {{ formControlGroup.value }}
        </div>

        <div style="margin-top: 1rem; margin-bottom: 1rem;">
          <dp-button color="primary" *ngIf="this.formControlGroup.disabled" (click)="enableGroup()">Enable</dp-button>
          <dp-button color="primary" *ngIf="!this.formControlGroup.disabled" (click)="disableGroup()">Disable</dp-button>
          <dp-button color="secondary" (click)="errorGroup()">Error</dp-button>
        </div>
      </div>

      <div class="spacer"></div>

      <div style="flex: 1 1 0%">
        <div class="demo-subtitle">Single Slide Toggle (w/ Alternate Styling Enabled)</div>
        <dp-slide-toggle [formControl]="formControlSingle"
                         label="Toggle"
                         value="ON"
                         alternateStyling="true"></dp-slide-toggle>
        <div class="demo-errors" *ngIf="errorsSingle">{{ errorsSingle }}</div>

        <div class="demo-value">
          Value: {{ formControlSingle.value }}
        </div>

        <div style="margin-top: 1rem; margin-bottom: 1rem;">
          <dp-button color="primary" *ngIf="this.formControlSingle.disabled" (click)="enableSingle()">Enable</dp-button>
          <dp-button color="primary" *ngIf="!this.formControlSingle.disabled" (click)="disableSingle()">Disable</dp-button>
          <dp-button color="secondary" (click)="errorSingle()">Error</dp-button>
        </div>
      </div>
    </div>
  </div>
</div>
