<div class="component-intro">
  <h1>Side Navigation Bar</h1>
  <p>
    A side bar component that displays a child window in front of the main window for navigating around the application.
  </p>
</div>

<div class="demo-wrapper">
  <h4>Open Side Nav</h4>
  <dp-sidenav-header></dp-sidenav-header>

  <dp-sidenav [sideNavRef]="navContent"
              [sideNavWidth]="280"
              [sideNavTitle]="'Demo Side Nav'"
              [openDirection]="'right'"
              [duration]="0.5"></dp-sidenav>

  <ng-template #navContent>
    <dp-sidenav-content [navItems]="navItems"></dp-sidenav-content>
  </ng-template>
</div>

<div class="component-info">
  <dp-tab-group>
    <dp-tab label="Documentation">
      <h3 id="getStart">Getting Started</h3>
      <p>A side nav component requires a <code>SidenavHeaderComponent</code>, <code>SidenavContentComponent</code>,
        and a <code>SideNavComponent</code>.
</p>
      <h4>Import</h4>
      <app-codeblock>Currently everything is imported by DevproComponentsModule.</app-codeblock>
      <h4>Header</h4>
      <p>The <code>SidenavHeaderComponent</code> is a button that you would add into your application in an accessible
        location such as the navigation bar, header, etc. The button can be sized and styled and clicking it will open
        the side bar.</p>
      <app-codeblock>{{ codeHeader }}</app-codeblock>
      <h4>Content</h4>
      <p>The <code>SideNavContentComponent</code> is contained in a <code>ng-template</code> and is the list of navigation
        items populating the body of the side bar. These items should be defined in a typescript file with a label, route,
        and optionally a fragment to navigate too when clicked. These items should match any router paths set in your
        <code>app-routing.module.ts</code> file to function properly.</p>
      <app-codeblock>{{ codeContent }}</app-codeblock>
      <app-codeblock>{{ codeContentTS }}</app-codeblock>
      <h4>SideNav</h4>
      <p>The <code>SideNavComponent</code> is the body of the side bar and sets its styling details for template reference,
        width, title, animation duration, and open direction. These details can be set in the elements attributes.</p>
      <app-codeblock>{{ codeBody }}</app-codeblock>

      <h3 id="properties">Properties</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Default Value</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>sideNavRef</td>
          <td>any</td>
          <td>null</td>
          <td>References the tag for the <code>ng-template</code> containing the <code>SidenavContentComponent</code>.</td>
        </tr>
        <tr>
          <td>sideNavWidth</td>
          <td>number</td>
          <td>window.innerWidth</td>
          <td>Defines the width of the side bar in pixels.</td>
        </tr>
        <tr>
          <td>sideNavTitle</td>
          <td>string</td>
          <td>null</td>
          <td>Defines the title at the top of the side bar.</td>
        </tr>
        <tr>
          <td>openDirection</td>
          <td>SideNavDirection</td>
          <td>SideNavDirection.Left</td>
          <td>Defines if the side bar should open from the <code>left</code> or the <code>right</code>.</td>
        </tr>
        <tr>
          <td>duration</td>
          <td>number</td>
          <td>0.25</td>
          <td>Defines the animations time to open the side bar in seconds.</td>
        </tr>
      </table>

      <h3 id="styling">Styling</h3>
      <h4>SideNav</h4>
      <table>
        <tr>
          <th>Name</th>
          <th>Element</th>
        </tr>
        <tr>
          <td>sidenav-wrapper</td>
          <td>Outermost element that contains the overlay, menu, direction, etc for the side bar.</td>
        </tr>
        <tr>
          <td>sidenav-overlay</td>
          <td>Element that fades out the main window behind the window.</td>
        </tr>
        <tr>
          <td>sidenav-menu</td>
          <td>Container element that contains the styling for the menu defined in its attributes.</td>
        </tr>
        <tr>
          <td>sidenav-header</td>
          <td>Container element for the header portion of the side bar.</td>
        </tr>
        <tr>
          <td>sidenav-content</td>
          <td>Container element for the template reference content given to the sidenav.</td>
        </tr>
      </table>

      <h4>SideNav Content</h4>
      <table>
        <tr>
          <th>Name</th>
          <th>Element</th>
        </tr>
        <tr>
          <td>sidenav-content-wrapper</td>
          <td>Outermost element that contains the menu and SVG icon.</td>
        </tr>
        <tr>
          <td>sidenav-menu</td>
          <td>Container element for the styling of the list elements.</td>
        </tr>
      </table>

      <h3 id="methods">Methods</h3>
      <p>None.</p>

      <h3 id="dependencies">Dependencies</h3>
      <p>None.</p>
    </dp-tab>

    <dp-tab label="Source Code">
      <app-codeblock fileName="demo-sidenav.component.html">{{ codeHTML }}</app-codeblock>
      <app-codeblock fileName="demo-sidenav.component.ts">{{ codeTS }}</app-codeblock>
    </dp-tab>
  </dp-tab-group>
</div>
