* {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}




.demo-wrapper {
  margin: 2.5rem;
}

.demo-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}

.demo-subtitle {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}

.demo-border {
  border-width: 1px;
  border-radius: 0.25rem;
  padding: 1.5rem;
  border-color: rgba(229, 231, 235, 1);
  border-style: solid;
}

.demo-errors {
  color: rgba(239, 68, 68, 1);
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: 0.5rem;
}

.demo-value {
  margin-top: 1.5rem;
  background-color: rgba(229, 231, 235, 1);
  color: rgba(55, 65, 81, 1);
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
