<div class="component-intro">
  <h1>Chips</h1>
  <p>Simple component for displaying multiple values, keyboard accessible.</p>
</div>

<div class="demo-wrapper">
  <div class="demo-border">
    <dp-chip label="Disabled Chip" [disabled]="true"></dp-chip>
    <dp-chip label="FirstName LastName"></dp-chip>
    <dp-chip label="Value"></dp-chip>
  </div>
</div>

<div class="component-info">
  <dp-tab-group>
    <dp-tab label="Documentation">
      <h3>Getting Started</h3>
      <p>The chip component can be used as a single element or within another element such as a text-box.</p>
      <h4>Import</h4>
      <app-codeblock>Currently everything is imported by DevproComponentsModule.</app-codeblock>

      <h3>Label</h3>
      <p>Labels can be added to the chip as an attribute. </p>
      <app-codeblock>{{ codeLabel }}</app-codeblock>

      <h3>Properties</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Default Value</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>label</td>
          <td>string</td>
          <td>null</td>
          <td>Label for the chip.</td>
        </tr>
        <tr>
          <td>disabled</td>
          <td>boolean</td>
          <td>false</td>
          <td>Disabled attribute of the chip, when true will visibly change the chip and make it un-clickable.</td>
        </tr>
      </table>

      <h3>Events</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Parameters</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>onClose</td>
          <td>close: Event emitter for the close button.</td>
          <td>Clears the chip element.</td>
        </tr>
      </table>

      <h3>Styling</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Element</th>
        </tr>
        <tr>
          <td>chip-wrapper</td>
          <td>Outermost element containing the label and icon.</td>
        </tr>
        <tr>
          <td>chip-label</td>
          <td>Label element for the chip.</td>
        </tr>
      </table>

      <h3>Methods</h3>
      <p>None.</p>

      <h3>Dependencies</h3>
      <p>None.</p>
    </dp-tab>

    <dp-tab label="Source Code">
      <app-codeblock fileName="demo-chip.component.html">{{ codeHTML }}</app-codeblock>
    </dp-tab>
  </dp-tab-group>
</div>
