<div class="component-intro">
  <h1>Buttons</h1>
  <p>An extension of the standard button type with custom styling.</p>
</div>

<div class="demo-wrapper btn-demo">
  <h4>Buttons</h4>
  <table>
    <tr>
      <th></th>
      <th>Basic</th>
      <th class="primary">Primary</th>
      <th class="secondary">Secondary</th>
      <th class="disabled">Disabled</th>
    </tr>
    <tr>
      <td class="raised">Raised</td>
      <td><dp-button raised="true">Basic</dp-button></td>
      <td><dp-button raised="true" color="primary">Primary</dp-button></td>
      <td><dp-button raised="true" color="secondary">Secondary</dp-button></td>
      <td><dp-button raised="true" disabled="true">Disabled</dp-button></td>
    </tr>
    <tr>
      <td>Flat</td>
      <td><dp-button>Basic</dp-button></td>
      <td><dp-button color="primary">Primary</dp-button></td>
      <td><dp-button color="secondary">Secondary</dp-button></td>
      <td><dp-button disabled="true" color="primary">Disabled</dp-button></td>
    </tr>
    <tr>
      <td class="stroked">Stroked</td>
      <td><dp-button stroked="true">Basic</dp-button></td>
      <td><dp-button stroked="true" color="primary">Primary</dp-button></td>
      <td><dp-button stroked="true" color="secondary">Secondary</dp-button></td>
      <td><dp-button stroked="true" disabled="true" color="secondary">Disabled</dp-button></td>
    </tr>
  </table>

  <div class="btn-group">
    <h4>SVGs Within Buttons</h4>
    <div class="btn-example">
      <dp-button color="primary">
        <dp-svg class="svg-example" iconName="info"></dp-svg>
      </dp-button>

      <dp-button color="primary">
        <div class="svg-text-example">
          <dp-svg iconName="menu"></dp-svg>
          <div>SVG and Text</div>
        </div>
      </dp-button>
    </div>

    <div class="btn-group">
      <h4>Spinners Within Buttons</h4>
      <div>
        <dp-button color="primary">
          <dp-spinner size="xs" color="white"></dp-spinner>
        </dp-button>
        <dp-button color="primary">
          <dp-spinner size="xs" spinnerStyle="style2" color="white"></dp-spinner>
        </dp-button>
        <dp-button color="primary">
          <dp-spinner size="xs" spinnerStyle="style3" color="white"></dp-spinner>
        </dp-button>
      </div>
      <div>
        <dp-button color="secondary">
          <dp-spinner size="xs" color="white"></dp-spinner>
        </dp-button>
        <dp-button color="secondary">
          <dp-spinner size="xs" color="white" spinnerStyle="style2"></dp-spinner>
        </dp-button>
        <dp-button color="secondary">
          <dp-spinner size="xs" color="white" spinnerStyle="style3"></dp-spinner>
        </dp-button>
      </div>
    </div>
  </div>
</div>

<div class="component-info">
  <dp-tab-group>
    <dp-tab label="Documentation">
      <h3>Getting Started</h3>
      <p>The button component can be used in many applications. It will act like an HTML <code>&lt;button&gt;</code>
        element and accept <code>click()</code> attributes. The element comes with a default configuration of basic
        and flat.</p>
      <h4>Import</h4>
      <p>Currently everything is imported by <code>DevproComponentsModule</code>.</p>
      <!--      <app-codeblock code="{{ codeImport }}"></app-codeblock>-->

      <h3>Properties</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Default Value</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>color</td>
          <td>-</td>
          <td>basic</td>
          <td>Dictates the color of the button.</td>
        </tr>
        <tr>
          <td>stroked</td>
          <td>boolean</td>
          <td>false</td>
          <td>Dictates if the button is solid or stroked.</td>
        </tr>
        <tr>
          <td>raised</td>
          <td>boolean</td>
          <td>false</td>
          <td>Dictates if the button is flat or raised.</td>
        </tr>
        <tr>
          <td>disabled</td>
          <td>boolean</td>
          <td>false</td>
          <td>Disabled attribute of the button, when true it will visibly change the button and make it un-clickable.</td>
        </tr>
      </table>

      <h3>Styling</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Element</th>
        </tr>
        <tr>
          <td>button-wrapper</td>
          <td>Outermost element containing the styling and the content within.</td>
        </tr>
      </table>
      <h4>Color</h4>
      <p>The color can be changed with the <code>color</code> attribute. Options include: <code>basic</code>,
        <code>primary</code>, and <code>secondary</code>. The default is basic.</p>
      <app-codeblock code="{{ codeColor }}"></app-codeblock>
      <h4>Stroked</h4>
      <p>The stroke styling can be enabled by setting the <code>stroked</code> attribute to true. The default is false.</p>
      <app-codeblock code="{{ codeStroked }}"></app-codeblock>
      <h4>Raised</h4>
      <p>The raised styling can be enabled by setting the <code>raised</code> attribute to true. The default is false.</p>
      <app-codeblock code="{{ codeRaised }}"></app-codeblock>
      <h4>Disabled</h4>
      <p>The disabled styling can be enabled by setting the <code>disabled</code> attribute to true. The default is false.</p>
      <app-codeblock code="{{ codeDisabled }}"></app-codeblock>


      <h3>Methods</h3>
      <p>None.</p>

      <h3>Dependencies</h3>
      <p>None.</p>
    </dp-tab>

    <dp-tab label="Source Code">
      <app-codeblock fileName="demo-button.component.html" code="{{ codeHTML }}"></app-codeblock>
    </dp-tab>
  </dp-tab-group>
</div>
