* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

button {
  font-size: 100%;
  background-color: transparent;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Input Styling */
.dp-input {
  appearance: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  height: 2rem;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-acolor: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(156, 163, 175, 1); /* Gray 400 */
  border-radius: 0.25rem;
  color: rgba(17, 24, 39, 1); /* Gray 900 */
  box-sizing: border-box;
  transition: border-color 150ms ease-in, box-shadow 150ms ease-in;
}

.dp-input-focus {
  box-shadow: 0px 0px 0px 3px rgba(66, 153, 225, 0.35);
  border-color: rgba(59, 130, 246, 1); /* Blue 500 */
}

.dp-input-error {
  box-shadow: 0px 0px 0px 3px rgba(245, 101, 101, 0.35);
  border-color: rgba(239, 68, 68, 1); /* Red 500 */
}

.dp-input-disabled {
  background-color: rgba(229, 231, 235, 1); /* Gray 200 */
  color: rgba(75, 85, 99, 1); /* Gray 600 */
  outline: 2px solid transparent;
  outline-offset: 2px;
  pointer-events: none;
}

.dp-input:disabled {
  background-color: rgba(229, 231, 235, 1);
  color: rgba(75, 85, 99, 1);
  outline: 2px solid transparent;
  outline-offset: 2px;
  pointer-events: none;
}

.dp-input:focus {
  box-shadow: 0px 0px 0px 3px rgba(66, 153, 225, 0.35);
  border-color: rgba(59, 130, 246, 1);
}
