<div class="header-wrapper">
  <img src="assets/images/DevPro-Logo.png">
  <h1>DevPro Web Components</h1>
</div>

<dp-demo-alert></dp-demo-alert>
<dp-demo-checkbox></dp-demo-checkbox>
<dp-demo-chip></dp-demo-chip>
<dp-demo-date-picker></dp-demo-date-picker>
<dp-demo-dialog></dp-demo-dialog>
<dp-demo-multiselect></dp-demo-multiselect>
<dp-demo-overflow-menu></dp-demo-overflow-menu>
<dp-demo-radio-button></dp-demo-radio-button>
<dp-demo-select></dp-demo-select>
<dp-demo-slide-toggle></dp-demo-slide-toggle>
<dp-demo-spinner></dp-demo-spinner>
<dp-demo-tabs></dp-demo-tabs>
