<div class="demo-wrapper">
  <div class="demo-title">Spinner</div>
  <div class="demo-border">
    <div class="grid">

      <div style="margin-top: 1rem;">
        <div style="display: block" class="centered">Buttons (w/ Changed Colors)</div>
        <div style="display: block" class="centered">
          <dp-button>
            <dp-spinner size="xs" color="white"></dp-spinner>
          </dp-button>
          <dp-button style="margin-left: 0.5rem">
            <dp-spinner size="xs" spinnerStyle="style2" color="white"></dp-spinner>
          </dp-button>
          <dp-button style="margin-left: 0.5rem">
            <dp-spinner size="xs" spinnerStyle="style3" color="white"></dp-spinner>
          </dp-button>
        </div>

        <div style="display:block; margin-top: 0.5rem;" class="centered">
          <dp-button color="red">
            <dp-spinner size="xs" color="white"></dp-spinner>
          </dp-button>
          <dp-button style="margin-left: 0.5rem" color="red">
            <dp-spinner size="xs" spinnerStyle="style2" color="white"></dp-spinner>
          </dp-button>
          <dp-button style="margin-left: 0.5rem" color="red">
            <dp-spinner size="xs" spinnerStyle="style3" color="white"></dp-spinner>
          </dp-button>
        </div>
      </div>

      <div class="centered text">Extra Small</div>
      <div class="centered text">Small</div>
      <div class="centered text">Medium</div>
      <div class="centered text">Large</div>

      <div class="centered text">Style 1</div>
      <dp-spinner class="centered" size="xs" spinnerStyle="style1"></dp-spinner>
      <dp-spinner class="centered" size="sm" spinnerStyle="style1"></dp-spinner>
      <dp-spinner class="centered" size="md" spinnerStyle="style1"></dp-spinner>
      <dp-spinner class="centered" size="lg" spinnerStyle="style1"></dp-spinner>

      <div class="centered text">Style 2</div>
      <dp-spinner class="centered" size="xs" spinnerStyle="style2"></dp-spinner>
      <dp-spinner class="centered" size="sm" spinnerStyle="style2"></dp-spinner>
      <dp-spinner class="centered" size="md" spinnerStyle="style2"></dp-spinner>
      <dp-spinner class="centered" size="lg" spinnerStyle="style2"></dp-spinner>

      <div class="centered text">Style 3</div>
      <dp-spinner class="centered" size="xs" spinnerStyle="style3"></dp-spinner>
      <dp-spinner class="centered" size="sm" spinnerStyle="style3"></dp-spinner>
      <dp-spinner class="centered" size="md" spinnerStyle="style3"></dp-spinner>
      <dp-spinner class="centered" size="lg" spinnerStyle="style3"></dp-spinner>
    </div>
  </div>
</div>
