<div class="demo-wrapper">
  <div class="demo-title">Buttons</div>
  <div class="demo-border">

    <table>
      <tr>
        <th><!-- PLACEHOLDER --></th>
        <th>Basic</th>
        <th>Primary</th>
        <th>Secondary</th>
        <th>Disabled</th>
      </tr>

      <tr>
        <td>Raised</td>
        <td> <dp-button raised="true">Basic</dp-button> </td>
        <td> <dp-button raised="true" color="primary">Primary</dp-button> </td>
        <td> <dp-button raised="true" color="secondary">Secondary</dp-button> </td>
        <td> <dp-button raised="true" disabled="true">Disabled</dp-button> </td>
      </tr>

      <tr>
        <td>Flat</td>
        <td> <dp-button>Basic</dp-button> </td>
        <td> <dp-button color="primary">Primary</dp-button> </td>
        <td> <dp-button color="secondary">Secondary</dp-button> </td>
        <td> <dp-button disabled="true" color="primary">Disabled</dp-button> </td>
      </tr>

      <tr>
        <td>Stroked</td>
        <td> <dp-button stroked="true">Basic</dp-button> </td>
        <td> <dp-button stroked="true" color="primary">Primary</dp-button>
        </td>
        <td> <dp-button stroked="true" color="secondary">Secondary</dp-button> </td>
        <td> <dp-button stroked="true" disabled="true" color="secondary">Disabled</dp-button> </td>
      </tr>
    </table>

    <div class="btn-group">
      <div class="demo-subtitle">SVGs Within Buttons</div>
      <div class="btn-example">
        <dp-button color="primary">
          <dp-svg class="svg-example" iconName="info"></dp-svg>
        </dp-button>

        <dp-button color="primary">
          <div class="svg-text-example">
            <dp-svg iconName="menu"></dp-svg>
            <div>SVG and Text</div>
          </div>
        </dp-button>
      </div>
    </div>
  </div>
</div>
