table {
  border-collapse: collapse;
  width: 30%;
}

th, td {
  font-weight: bold;
  font-size: x-large;
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.btn-group {
  margin-top: 1rem;

  .demo-subtitle {
    margin-bottom: 0;
  }
}

.btn-example {
  display: inline-flex;

  dp-button + dp-button {
    margin-left: 0.5rem;
  }
}

.svg-example {
  display: flex;
  align-content: center;

}

.svg-text-example {
  display: inline-flex;
  align-content: center;
  justify-content: center;

  div {
    margin-left: 0.75rem;
    margin-top: 0.1rem;
  }

  dp-svg {
    padding-top: 0.2rem;
  }
}

.primary {
  color: rgba(59, 130, 246, 1); // Blue 500;
}

.secondary {
  color: rgba(239, 68, 68, 1); // Red 500
}

.disabled {
  color: rgba(156, 163, 175, 1); // Gray 400
}

.raised {
  text-shadow: 1px 1px rgba(156, 163, 175, 1); // Gray 400
}

.stroked {
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
}
