<div class="demo-wrapper">
  <div class="demo-title">Buttons</div>
  <div class="demo-border">

    <div class="demo-wrapper">
      <div class="btn-group">
        <div class="demo-subtitle">Blue Buttons</div>
        <div class="btn-example">
          <dp-button color="blue">Blue Example</dp-button>
          <dp-button color="blue" disabled="true">Disabled Example</dp-button>
        </div>
      </div>


      <div class="btn-group">
        <div class="demo-subtitle">Red Buttons</div>
        <div class="btn-example">
          <dp-button color="red">Red Example</dp-button>
          <dp-button color="red" disabled="true">Disabled Example</dp-button>
        </div>
      </div>


      <div class="btn-group">
        <div class="demo-subtitle">SVGs Within Buttons</div>
        <div class="btn-example">
          <dp-button>
            <dp-svg class="svg-example" iconName="info"></dp-svg>
          </dp-button>

          <dp-button>
            <div class="svg-text-example">
              <dp-svg iconName="menu"></dp-svg>
              <div>SVG and Text</div>
            </div>
          </dp-button>
        </div>
      </div>







      <div class="btn-group">
        <div class="demo-subtitle">Inverted</div>
        <div class="btn-example">
          <dp-button color="blue" inverted="true">Blue Example</dp-button>
          <dp-button color="blue" inverted="true" disabled="true">Disabled Example</dp-button>
        </div>
      </div>

      <div style="margin: 0.5rem;"></div> <!-- Spacer -->

      <div class="btn-example">
        <dp-button color="red" inverted="true">Red Example</dp-button>
        <dp-button color="red" inverted="true" disabled="true">Disabled Example</dp-button>
      </div>
    </div>

  </div>
</div>
