<div class="setup-wrapper">
  <h1>Getting Started</h1>

  <div>
    <h2>Download</h2>
    DevPro components are available through NPM, once your application is setup run the following commands to install
    the library into your project:
    <app-codeblock>
        npm install devpro-components --save
    </app-codeblock>
  </div>

  <div>
    <h2>Import</h2>
    All components are currently exported by the DevproComponentsModule and can be imported by adding the following line
    in your app.module.ts file.
    <app-codeblock>
        import {{"{"}} DevproComponentsModule } from 'devpro-components';
    </app-codeblock>
  </div>

  <div>
    <h2>Styles</h2>
    EXPLANATION
    CODEBLOCK
  </div>

  <div>
    <h2>Animations</h2>
    EXPLANATION
    CODEBLOCK
  </div>

  <div>
    <h2>Peer Dependencies</h2>
    TABLE
  </div>
</div>
