.setup-wrapper {

}

app-codeblock {
  padding-top: 1rem;
}

.desc {
  padding-bottom: 0.25rem;
}

code {
  font-family: Consolas,"courier new";
  background-color: #EEEEEE;
  padding: 1px;
}

app-codeblock {
  white-space: pre;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}
