<div class="flex items-center justify-between">
  <div class="text-gray-800 font-semibold text-xl flex-grow truncate">{{featureTitle}}</div>
  <div class="flex-shrink-0">
    <div class="preview-toggle">
      <div class="preview-toggle-button" [class.active]="!showCode" (click)="showCode = false">
        <dp-svg name="eye"></dp-svg>Preview
      </div>
      <div class="preview-toggle-button" [class.active]="showCode" (click)="showCode = true">
        <dp-svg name="code"></dp-svg>Code
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="showCode; else preview">
  <div class="mt-3 rounded-md border border-gray-200 shadow-sm overflow-hidden">
    <div class="bg-white p-3 shadow-sm"></div>
    <div class="text-white bg-gray-800 text-sm">
      <div>
        <pre class="language-html rounded-b"
          [ngStyle]="{margin: '0'}"><code [innerHTML]="this.html | prism:'html' | safeHtml"></code></pre>
      </div>
      <div>
        <pre class="language-html rounded-b"
          [ngStyle]="{margin: '0'}"><code [innerHTML]="this.typescript | prism:'javascript'"></code></pre>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #preview>
  <div class="mt-3 p-6 rounded-lg border border-gray-200 shadow-sm bg-white overflow-hidden">
    <ng-content></ng-content>
  </div>
</ng-template>