<div class="component-intro">
  <h1>Alert</h1>
  <p>
    Custom messages used to alert the user.
  </p>
</div>

<div class="demo-wrapper">
  <dp-alerts></dp-alerts>
  <dp-button color="primary" (click)="clear()">Clear All</dp-button>
</div>

<div class="component-info">
  <dp-tab-group>
    <dp-tab label="Documentation">
      <h3>Getting Started</h3>
      <p>Alerts can be generated through the <code>AlertService</code> and displayed in the <code>AlertsComponent</code>,
        multiple alerts can be generated in a single element. The <code>AlertComponent</code> can also be manually
        created
        and assigned its type, message, and details attribute.</p>
      <h4>Import</h4>
      <app-codeblock>Currently everything is imported by DevproComponentsModule.</app-codeblock>

      <h3>Message, Details, and Type</h3>
      <p>The alerts message and details can be added to the alert easily through a service call. The options for type
        include: Success, Info, Warning, and Danger. Type is dictated by which function is called in the service.</p>
      <app-codeblock>{{ codeServiceCall }}</app-codeblock>

      <h3>Properties</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Default Value</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>type</td>
          <td>string</td>
          <td>success</td>
          <td>The type of the alert dictating its appearance.</td>
        </tr>
        <tr>
          <td>message</td>
          <td>string</td>
          <td>null</td>
          <td>The message displayed in the alert.</td>
        </tr>
        <tr>
          <td>details</td>
          <td>string</td>
          <td>null</td>
          <td>Optional details under the message to provide more information about the alert.</td>
        </tr>
      </table>

      <h3>Events</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Parameters</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>onClose</td>
          <td>close: Event emitter for the close button.</td>
          <td>Clears the alert element.</td>
        </tr>
      </table>

      <h3>Styling</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Element</th>
        </tr>
        <tr>
          <td>alert-wrapper</td>
          <td>Outermost element containing the icon, messages, and dismiss button.</td>
        </tr>
        <tr>
          <td>alert-icon</td>
          <td>Container element for the type icon displayed.</td>
        </tr>
        <tr>
          <td>checkbox-text</td>
          <td>Container element for the message and detail.</td>
        </tr>
        <tr>
          <td>alert-message</td>
          <td>Text decoration for the alert message.</td>
        </tr>
        <tr>
          <td>alert-details</td>
          <td>Text decoration for the alert details.</td>
        </tr>
        <tr>
          <td>alert-dismiss</td>
          <td>Container element for the SVG button used to dismiss the alert.</td>
        </tr>
      </table>

      <h3>Methods (Alert Service)</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Parameters</th>
          <th>Details</th>
        </tr>
        <tr>
          <td>success</td>
          <td>
            <li>message: string</li>
            <li>details: string (Optional)</li>
          </td>
          <td>Generates a success alert and adds it to alerts observable array.</td>
        </tr>
        <tr>
          <td>info</td>
          <td>
            <li>message: string</li>
            <li>details: string (Optional)</li>
          </td>
          <td>Generates a info alert and adds it to alerts observable array.</td>
        </tr>
        <tr>
          <td>warning</td>
          <td>
            <li>message: string</li>
            <li>details: string (Optional)</li>
          </td>
          <td>Generates a warning alert and adds it to alerts observable array.</td>
        </tr>
        <tr>
          <td>danger</td>
          <td>
            <li>message: string</li>
            <li>details: string (Optional)</li>
          </td>
          <td>Generates a danger alert and adds it to alerts observable array.</td>
        </tr>
        <tr>
          <td>remove</td>
          <td>AlertModel</td>
          <td>Removes the given alert from the array.</td>
        </tr>
        <tr>
          <td>clearAll</td>
          <td>-</td>
          <td>Removes all alerts from the array.</td>
        </tr>
      </table>

      <h3>Dependencies</h3>
      <p>None.</p>
    </dp-tab>

    <dp-tab label="Source Code">
      <app-codeblock fileName="demo-alert.component.html">{{ codeHTML }}</app-codeblock>
      <app-codeblock fileName="demo-alert.component.ts">{{ codeTS }}</app-codeblock>
    </dp-tab>
  </dp-tab-group>
</div>
