<div class="component-intro">
  <h1>Overflow Menu</h1>
  <p>
    A floating menu panel that contains a given list of options or an <code>ng-template</code>.
  </p>
</div>

<div class="demo-wrapper">
  <h4>Basic Options Menu</h4>
  <dp-overflow-menu [options]="options"></dp-overflow-menu>

  <h4>Template Menu</h4>
  <dp-overflow-menu [options]="options" [template]="itemTemplate"></dp-overflow-menu>
</div>

<ng-template #itemTemplate let-option>
  <div>
    <div>{{ option.label }}</div>
    <div class="template-desc">{{ option.description }}</div>
  </div>
</ng-template>

<div class="component-info">
  <dp-tab-group>
    <dp-tab label="Documentation">
      <h3>Getting Started</h3>
      <p>The overflow menu component requires a list of options to create an <code>OverflowMenuModel</code> with.
        These options can consist of a simple label and <code>click()</code> method or multiple attributes that can be
        organized inside of the optionally provided <code>ng-template</code> element.</p>
      <h4>Import</h4>
      <p>Currently everything is imported by <code>DevproComponentsModule</code>.</p>
      <!--      <app-codeblock code="{{ codeImport }}"></app-codeblock>-->

      <h3>Options</h3>
      <p>An array of options can be provided to the component through its <code>options</code> attribute. These options
      at a minimum should provide a label to display in the menu and something to be done on clicking the option.</p>
      <app-codeblock code="{{ codeOptionsHTML }}"></app-codeblock>
      <app-codeblock code="{{ codeOptions }}"></app-codeblock>
      <h4>Templated Options</h4>
      <p>When using a templated menu, these options can be expanded to include additional details for each option that
        can be utilized in your <code>ng-template</code> element.</p>
      <app-codeblock code="{{ codeOptionsTemplatedHTML }}"></app-codeblock>
      <app-codeblock code="{{ codeOptionsTemplated }}"></app-codeblock>

      <h3>Properties</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Default Value</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>options</td>
          <td>OverflowMenuModel</td>
          <td>null</td>
          <td>The model used for creating the component.</td>
        </tr>
        <tr>
          <td>template</td>
          <td>TemplateRef&lt;any&gt;</td>
          <td>null</td>
          <td>An ng-template reference to customize the overflow menus appearance.</td>
        </tr>
      </table>

      <h3>Styling</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Element</th>
        </tr>
        <tr>
          <td>menu-wrapper</td>
          <td>Outermost element containing the menu button and item list.</td>
        </tr>
        <tr>
          <td>item-wrapper</td>
          <td>Container element for the popup menu.</td>
        </tr>
        <tr>
          <td>item</td>
          <td>Styling for each menu option.</td>
        </tr>
      </table>

      <h3>Methods</h3>
      <p>None.</p>

      <h3>Dependencies</h3>
      <p>The menu utilizes a <code>PopperComponent</code> that requires the
        <a href="https://popper.js.org/">Popper.js</a> dependency.</p>
    </dp-tab>

    <dp-tab label="Source Code">
      <app-codeblock fileName="demo-overflow-menu.component.html" code="{{ codeHTML }}"></app-codeblock>
      <app-codeblock fileName="demo-overflow-menu.component.ts" code="{{ codeTS }}"></app-codeblock>
      <app-codeblock fileName="demo-overflow-menu.component.scss" code="{{ codeCSS }}"></app-codeblock>
    </dp-tab>
  </dp-tab-group>
</div>
