<dp-alerts></dp-alerts>

<div class="flex flex-row">
    <div class="mt-6 px-5">
        <dp-button type="primary" (click)="addSuccess()">Add Success</dp-button>
    </div>
    <div class="mt-6 px-5">
        <dp-button type="primary" (click)="addWarning()">Add Warning</dp-button>
    </div>
    <div class="mt-6 px-5">
        <dp-button type="primary" (click)="addInfo()">Add Info</dp-button>
    </div>
    <div class="mt-6 px-5">
        <dp-button type="primary" (click)="addDanger()">Add Danger</dp-button>
    </div>
</div>